<div class="div-componente">
    <h2 class="title-componente">Eventos</h2>
    <div class="componente-container">
        <p class="descricao-componente">
            Os eventos são utilizados para que seja possível executar uma determinada função após uma determinada interação. No exemplo a seguir, ao clicar
            no botão será exibido um alerta no navegador.
        </p>
    </div>
    <div class="componente-exemplo">
        <button class="botao-evento" (click)="ExibirAlerta()">Clicar</button>        
    </div>
    <div class="componente-buttons-container">
        <app-arquivo-pdf [endereco]="endereco"></app-arquivo-pdf>
        <app-repositorio [github]="github"></app-repositorio>
    </div>
</div>
