<section class="funcionalidades-container">
    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #drawer class="sidenav" mode="over">
            <app-navbar></app-navbar>
        </mat-drawer>      
        <div class="content">
          <button class="menu-button" type="button" mat-button (click)="drawer.toggle()">
            <mat-icon fontIcon="menu"></mat-icon>
          </button>
        </div> 
        <app-descricao-componente [titulo]="'FUNCIONALIDADES'"></app-descricao-componente>
        <app-interpolacao-dados></app-interpolacao-dados>
        <app-propriedades></app-propriedades>
        <app-eventos></app-eventos>
        <app-servicos></app-servicos>
        <app-requisicao-http></app-requisicao-http>
        <app-scroll-top></app-scroll-top>
      </mat-drawer-container>
</section>