.box-condicao{
    padding: 1rem;
    height: 2rem;
    
    .texto-condicao-verdadeira{
        margin: 0;
        background: rgb(42, 42, 95);
        color: #fff;
        padding: 12px;
        width: 250px;
        border-radius: 5px;
    }

    .texto-condicao-falsa{
        margin: 0;
        background: rgb(102, 27, 27);
        color: #fff;
        padding: 12px;
        width: 250px;
        border-radius: 5px;
    }

}

.button-condicao{
    margin-top: 25px;
    padding: 1rem;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
    cursor: pointer;

    &:hover{
        background: #fff;
    }
}