<div class="navbar-container">
    <ul class="navbar-lista">
        <h2 class="navbar-titulo">Menu de Navegação</h2>
        <li class="navbar-item">
            <a routerLink="/" class="link">Home</a>
        </li>
        <li class="navbar-item">
            <a routerLink="/ciclo" class="link">Ciclo de Vida do Angular</a>
        </li>
        <li class="navbar-item">
            <a routerLink="/funcionalidades" class="link">Funcionalidades</a>
        </li>
        <li class="navbar-item">
            <a routerLink="/diretivas" class="link">Diretivas</a>
        </li>
    </ul>
</div>
