@import '../../../../../scss/variables.scss';

.on-changes-texto{
    background: $background-cards-padrao;
    color: #fff;
    padding: 1rem;
    width: 100px;
    text-align: center;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}